.container {
  position: relative;
  background: #ffffff;
  border-radius: 9999px;
  padding: 12px 20px;
}
.input {
  width: 100%;
  color: #2e2e2e;
  background: #fff;
  border: none;
  font-size: 16px;
}
.input::placeholder {
  color: #bcbcbc;
  opacity: 1;
}
.input:focus {
  outline: none;
}
.loading_container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
